/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 0%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  
  /* z index */
  --z-back: -10;
  --z-fixed: 100;
}

/* base */
*, ::before, ::after {
    box-sizing: border-box;
  }
   
  html {
    scroll-behavior: smooth;
  }
   
  body {
    /* margin: var(--header-height) 0 0 0; */
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
  }
   
  h1, h2, p {
    margin: 0;
  }
   
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
   
  a {
    text-decoration: none;
  }

/* Logo */

.header-img {
  width: 20rem;
  align-items: flex-start;
}

/* Footer */

.footer {
    color: #000000;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  }
   
  .footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
   
  .footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
  }
   
  .footer__copy {
    font-size: var(--smaller-font-size);
  }

  /* about*/
.about-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 


}
.about-box .div1 {
    grid-area: 1 / 1 / 2 / 2; 
}


.about-box .div2 {
    grid-area: 1 / 2 / 2 / 3; 
}

.slideshow-container {
  text-align: center;
  position: relative;
  width: 60%;
  max-width: 1000px;
  margin: auto;
}

.slide {
  display: none;
  position: relative;
}

.container{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 13px 13px;
}

.fade {
  animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .image {
     grid-area: 1 / 1 / 2 / 2;
     width: auto;
     }
    .text {
     grid-area: 1 / 2 / 2 / 3;
     align-content: center;
    }